@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');


.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
*{
    margin: 0;
    padding: 0;
}
body{
    max-width: 1140px;
    margin: 0 auto;
}

/* navbar style section */
.navbar-section{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.nav-links{
    display: flex;
    gap: 40px;
    margin-top: 40px;
    
    
}
.nav-item{
    list-style: none;
}
.link{
    text-decoration: none;
    color: #8987A1;
    
}
.link-2{
    font-weight: bold;
    color: black;
}

/* banner style here */
.banner{
    margin-top: 90px;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
}
.banner-left{
    display: block;
    align-content:  end;
}
.banner-titel{
    font-size: 4rem;
    font-weight: bold;
}
.style{
    color: #E95A08;
}
.banner-description{
    font-size: 1.25rem;
    font-weight: 500;
    color: #8987A1;
}
.banner-right img{
    display: block;
    align-content:  end;
}

/* plants section style */
.plants-section{
    margin-top: 80px;
    margin-bottom: 30px;
    
}
.plants-titel{
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}
.plants-description{
    font-size: 1rem;
    font-weight: 400;
    color: #8987A1;
    text-align: center;
}
/* plants card section */
.plants-card{
    margin-top: 40px;
    width: 100%;
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    gap: 5px;
}

.plant{
    width: 250px;
    height: 400px;
    margin-bottom: 30px;
    
}
.plant-img{
    width: 100%;
    height: fit-content;
}
.plant-titel{
    font-size: 1.25rem;
    font-weight: 600;
    text-align: center;
}
.plant-price{
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
}
.plant-btn{
    width: 100%;
    height: 40px;
    font-weight: 700;
    color: white;
    border: none;
    background-color: #E95A08;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    /* logo */
    .flower-lover-section{
        position: relative;
        padding-top: 40px;
        padding-inline-start: 80px;
        overflow-x: hidden;
    }
    .logo{
       position: absolute;
       top: 0;
       left: 50%;
       transform: translateX(-50%);
       width: 250px;
       z-index: 10;
    }
    .logo-img{
        width: 250px;
        height: 250px; 
       
    }

    /* flower lover section */
    .flower-lover{
        display: flex;
        justify-content: space-between;
        gap: 40px;
        margin-top: 100px;
        margin-bottom: 100px;
        
       
    }
    .lover-img{
        width:540px;
        height: 450px;
    }

    .comment-titel{
        font-size: 3.25rem;
        font-weight: 700;
    }
    .comment-item{
        font-size: 1rem;
        font-weight: 400;
        color: #8987A1;
    }
/* small device media query */

@media (max-width: 576px) {
    .navbar-section{
        width: 100%;
    }
    .nav-item:not(:last-child){
        display: none;
    }
    .link-3{
        margin-right: 5px;
        color: black;
    }
    .brand{
        margin-left: 5px;
    }
    /* banner responsive */
    .banner{
        flex-direction: column-reverse;
    }
    .banner-right img{
        width: 100%;
    }
    .banner-left{
        margin-left: 10px;
        margin-top: 15px;
    }
    .banner-titel{
    font-size: 3rem;
    font-weight: bold;
}

/* card responsive */
.plants-card{
    /* margin-top: 40px; */
    width: 100%;
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    gap: 5px;
    }
    .plant{
        width: 100%;
    }

    /* flower lover section */
    .flower-lover{
        flex-direction: column;
        width: 100%;

    }
    .lover-img{
        width: 100%;
        
    }
    .lover-comment{
        width: 100%;
        margin-left: 25px;
    }
    .logo{
        display: none;
    }
    .flower-lover-section{
        margin: 0;
        padding: 0;
    }
    
    .comment-titel{
        font-size: 2rem;
        font-weight: 700;
    }
    
}