@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');


.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
*{
    margin: 0;
    padding: 0;
}
.body{
    max-width: 1140px;
    margin: 0 auto;
}

/* navbar style section */
.navbar-section{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.nav-links{
    display: flex;
    gap: 40px;
    margin-top: 40px;
    
    
}
.nav-item{
    list-style: none;
}
.link{
    text-decoration: none;
    color: #8987A1;
    
}
.link-2{
    font-weight: bold;
    color: black;
}

/* banner style here */
.banner{
    margin-top: 90px;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
}
.banner-left{
    display: block;
    align-content:  end;
}
.banner-titel{
    font-size: 4rem;
    font-weight: bold;
}
.style{
    color: #E95A08;
}
.banner-description{
    font-size: 1.25rem;
    font-weight: 500;
    color: #8987A1;
}
.banner-right img{
    display: block;
    align-content:  end;
}

/* plants section style */
.plants-section{
    margin-top: 80px;
    margin-bottom: 30px;
    
}
.plants-titel{
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}
.plants-description{
    font-size: 1rem;
    font-weight: 400;
    color: #8987A1;
    text-align: center;
}
/* plants card section */
.plants-card{
    margin-top: 40px;
    width: 100%;
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    gap: 5px;
}

.plant{
    width: 250px;
    height: 400px;
    margin-bottom: 30px;
    
}
.plant-img{
    width: 100%;
    height: fit-content;
}
.plant-titel{
    font-size: 1.25rem;
    font-weight: 600;
    text-align: center;
}
.plant-price{
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
}
.plant-btn{
    width: 100%;
    height: 40px;
    font-weight: 700;
    color: white;
    border: none;
    background-color: #E95A08;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    /* logo */
    .flower-lover-section{
        position: relative;
        padding-top: 40px;
        padding-inline-start: 80px;
        overflow-x: hidden;
    }
    .logo{
       position: absolute;
       top: 0;
       left: 50%;
       transform: translateX(-50%);
       width: 250px;
       z-index: 10;
    }
    .logo-img{
        width: 250px;
        height: 250px; 
       
    }

    /* flower lover section */
    .flower-lover{
        display: flex;
        justify-content: space-between;
        gap: 40px;
        margin-top: 100px;
        margin-bottom: 100px;
        
       
    }
    .lover-img{
        width:540px;
        height: 450px;
    }

    .comment-titel{
        font-size: 3.25rem;
        font-weight: 700;
    }
    .comment-item{
        font-size: 1rem;
        font-weight: 400;
        color: #8987A1;
    }

    /* layout style section */
   .layout-container-section{
    display: flex;
    gap: 20px;
    margin-bottom: 100px;
   }
   .left-side{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
   }
  
   .img-card{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 20px;
   }
   .img-card img{
    width: 350px;
    height:200px;
    object-fit: cover;
    display: block;
    border-radius: 20px;
    background-color: #C8C8C8;
    border-radius: 20px;
    
   }
    .overly {
  position: absolute;
  bottom: 55px;
  left: 25px;
  color: white;
  padding: 10px;
  border-radius: 20px;
  z-index: 2;
}
.overly p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.65rem;
    font-weight: 400;
    text-align: center;
    color: white;
    
}
.overly a{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.35rem;
    font-weight: 400;
    text-align: center;
    color: white;
    
}

/* right img style */
   
   .big-img img{
    width: 750px;
    height: 420px;
    object-fit: cover;
    display: block;
    border-radius: 20px;
   }
   .big-img{
    overflow: hidden;
    position: relative;
     border-radius: 20px;
   }
   .big-over{
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     text-align: center;
     color: white; 
     z-index: 3;
  
   }
   .big-over p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.25rem;
    font-weight: 500;
    text-align: center;
    color: white;
}
   .big-over a{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    color: white;
}
/* kalo chaya img er upor */
.img-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
    border-radius: 20px;
}
 .big-over{
    position: absolute;
    z-index: 2;
} 

/* footer bounch style */
footer{
    max-width: 1440px;
    margin: 0 auto;
    
}

.bounch-section{ 
    height: 400px;
    background-image: url(../assets/news-letter-bg.png);
    margin-bottom: 70px;
    overflow: hidden;
}
.bounch-titel{
    font-size: 3rem;
    font-weight: bold;
    color: white;
   margin-left: 120px;
   padding-bottom: 40px;
    
}
input{
    margin: 0;
    padding: 0;
    
}

input{
    
    width: 600px;
    height: 50px;
    padding-left: 15px;
    
}
button{
    /* position: absolute;
    top: 81%;
    left: 61%; */
    width: 180px;
    height: 53px;
    font-weight: bold;
    color: white;
    border: none;
    background-color: #E95A08;
}
.inp-btn{
    position: relative;
   margin-left: 250px;
   padding-top: 120px;
}
/* footer links style */
.footer-links-section{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin-bottom: 20px;
}
.link-1-description{
    font-size: 1rem;
    font-weight: 400;
    color: #6B7280;
}
.links-2{
   
}
.links-2-item{
    list-style: none;
    margin-bottom: 30px;
    color: #6B7280;
}
.links-2-link{
    text-decoration: none;
    }

.links-3-item{
list-style: none;
margin-bottom: 30px;
color: #8987A1;
}
.links-3-link{
text-decoration: none;
}
.links-4-img{
    padding-left: 20px;
}
  
/* small device media query */

@media (max-width: 576px) {
    .navbar-section{
        width: 100%;
    }
    .nav-item:not(:last-child){
        display: none;
    }
    .link-3{
        margin-right: 5px;
        color: black;
    }
    .brand{
        margin-left: 5px;
    }
    /* banner responsive */
    .banner{
        flex-direction: column-reverse;
    }
    .banner-right img{
        width: 100%;
    }
    .banner-left{
        margin-left: 10px;
        margin-top: 15px;
    }
    .banner-titel{
    font-size: 3rem;
    font-weight: bold;
}

/* card responsive */
.plants-card{
    /* margin-top: 40px; */
    width: 100%;
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    gap: 5px;
    }
    .plant{
        width: 100%;
    }

    /* flower lover section */
    .flower-lover{
        flex-direction: column;
        width: 100%;

    }
    .lover-img{
        width: 100%;
        
    }
    .lover-comment{
        width: 100%;
        margin-left: 25px;
    }
    .logo{
        display: none;
    }
    .flower-lover-section{
        margin: 0;
        padding: 0;
    }
    
    .comment-titel{
        font-size: 2rem;
        font-weight: 700;
    }

    /* layout responsive */
    .layout-container-section{
        flex-direction: column;
        margin-left: 10px;
        margin-right: 10px;
    }
    .img-card img{
        width: 100%;
    }
    .big-img img{
    width:100%;
    height:200px;
    object-fit: cover;
    display: block;
    border-radius: 20px;
    }
     .big-over p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.50rem;
    font-weight: 400;
    text-align: center;
    color: white;
}
   .big-over a{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.50rem;
    font-weight: 400;
    text-align: center;
    color: white;
}
/* footer bounch responsive */
.bounch-section{
    height: auto;
    padding: 40px 20px;
    background-size: cover;
    background-position: center;
    text-align: center;
}
.bounch-titel{
    font-size: 1.50rem;
    margin-left: 40px;
    padding-bottom: 20px;
}
.inp-btn{
    position: relative;
    margin-left: 0;
    padding-top: 0;
    display: flex;
  flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
}
input{
    width: 60%;
    height: 45px;
    background-color: white;
}
button{
    /* position: absolute;
    top: 58%;
    width: 30%; */
    width: 25%;
    height: 45px;
}
/* footer links responsive */
.footer-links-section{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}
    
}